*{
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#wrapper{
    width: 1440px;
    margin: auto;
}

table,
thead,
tbody,
td,th{
    border: 1px solid black ;
    border-collapse: collapse;
}